{% extends 'base.html %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{%static 'css/base.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Gloria+Hallelujah&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{{block.super}}

<!-- <div class="container text-center">
    <h1> <span style="font-family: 'Covered By Your Grace', cursive; font-size: 180px; color:black">A</span>wwards </h1> -->
    <!-- <h2>Design & Usability</h2> -->
    <hr>
    <!-- <div class="row">
        {% for project in projects%}
        <div class="col-md-6" width="100px">
            <div class="card card bg-light text-dark">
                <div class="card-header ">
                    
                        <h3 class= "text-center">{{project.title}}</h3>
                    <div class="card-body">
                        <p class="text-center">{{project.description}}</p>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'project' project.id%}"><img src="{{project.image.url}}" width="250px" height="300px"
                                class=" img-home card-img-top" class="img-responsive" alt="image"></a>
                    </div>
                </div>
            </div>
    
        </div>
    
    
        {% endfor %}
    </div>
    

    </div> -->

    {% endblock %}

